
@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/Products/addproduct.css")


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>

</head>
<body>
    <div style="display:flex;justify-content:center">
        <div class="product-form">
            <h2>Product Form</h2>
            @using (Html.BeginForm("Upload", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {

                <label for="productName">Product Name:</label>
                <input type="text" id="productName" name="productName" required>

                <label for="productDescription">Product Description:</label>
                <input type="text" id="productDescription" name="productDescription" required>

                <label for="ImageFile">Product Image:</label>
                <input type="file" id="ImageFile" name="ImageFile" required>

                <label for="contactNumber">Contact Number:</label>
                <input type="tel" id="contactNumber" name="contactNumber" pattern="[0-9]{10}" placeholder="e.g., 1234567890" required>

                <label for="userEmail">User Email:</label>
                <input type="email" id="userEmail" name="userEmail" required>

                <button type="submit">Submit</button>

            }

        </div>
    </div>
    @if (TempData["AlertMessage"] != null)
    {
        <div class="alert alert-success alert-dismissible alert-dismissible fade show" role="alert">
            <strong>Success!</strong> @TempData["AlertMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger alert-dismissible alert-dismissible fade show" role="alert">
            <strong>Error!</strong> @TempData["ErrorMessage"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

    @if (TempData["Imagenameexists"] != null)
    {
        <div class="alert alert-danger alert-dismissible alert-dismissible fade show" role="alert">
            <strong>Error!</strong> @TempData["Imagenameexists"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }



</body>

</html>

