
@{
    ViewBag.Title = "Index";
}

@Styles.Render("~/Content/Signup/signup.css")


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <script src="~/Scripts/Customscripts/knockout.js"></script>

</head>
<body>
    <div class="signup-container">
        <h2>Signup</h2>
        @using (Html.BeginForm("signup", "Signup", FormMethod.Post))
        {
            <form action="your-signup-action" method="post">

                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="Email">Email:</label>
                <input type="text" id="email" name="email" required>


                <label for="MobNum">MobileNumber:</label>
                <input type="text" id="MobNum" name="MobNum" required>


                <label for="Location">Location:</label>
                <input type="text" id="Location" name="Location" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Sign Up</button>
            </form>
        }

    </div>

   
</body>

</html>



