
@*@{
    ViewBag.Title = "Index";
}*@

@Styles.Render("~/Content/Login/login.css")


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <script src="~/Scripts/Customscripts/knockout.js"></script>
   
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
         @using (Html.BeginForm("Authlogin", "Login", FormMethod.Post))
         {

        <form>
            <label for="username">Username:</label>
            <input type="text" id="username" data-bind="value:username" name="username" required>

            <label for="password">Password:</label>
            <input type="password" id="password" data-bind="value:password" name="password" required>

            <button type="submit">Login</button>
        </form>

        }
        <p style="margin-top:25px">No account ? <a href="@Url.Action("Index","signup")">Signup</a></p>

    </div>

    <script src="~/Scripts/Customscripts/loginko.js"></script>
</body>

</html>

