@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <script src="~/Scripts/Customscripts/knockout.js"></script>
    <script src="https://kit.fontawesome.com/844521e4f0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="sell_btn_div">
        <button type="button" class="sell_btn_icon" href="@Url.Action("Index","Product")"><i class="fa-solid fa-plus"></i><span style="margin-left:10px">Sell</span></button>
    </div>
    <hr/>
    <div class="products_main_container" style="display:flex">
        @*@foreach (var pro in Model)
        {
            try
                {
                 @Html.Partial("Card",pro)
                }
            catch
                {

                }

        }*@

        @foreach (var pro in Model)
        {
            <div class="card" style="width: 18rem;margin:10px">
                <img src="@pro.ImagePath" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@pro.productName</h5>
                    <a href="#" class="btn btn-primary">View</a>
                </div>
            </div>
         }

    </div>


    @*<script src="~/Scripts/Customscripts/Homeko.js"></script>*@
</body>

</html>